* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: #0e0e0e;
  color: #fff;
}

body {
  display: flex;
  margin: 0 auto;
  width: 1440px;
}

header {
  position: absolute;
  display: flex;
  margin: 57px auto;
  z-index: 999;
}

main {
  margin-top: 205px;
}

header .container {
  display: flex;
}

div .header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

div .logo h2{
  display: flex;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  margin-left: 82px;
  margin-right: 203px;
}

div .logo span {
  color: #FF5B50;
}

div .menu-container .menu {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

div .menu-container {
  width: 341px;
}

div .menu-container ul{
  display: flex;
  justify-content: space-around;
  width: 300px;
}

div .menu-container .menu li{
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

color: #FFFFFF;
}

div .wallet {
  margin-left: 238px;
  position: relative;
}

div .wallet button {
  width: 230px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 2px;
  color: #000000;
  background-color: #FFFFFF;
  text-indent: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.metamask {
  position: absolute;
  right: 187px;
  top: 10px;
  background-color: transparent;
}

main .main-1 {
  width: 1277px;
  margin: 0 0 100px 82px;
  display: flex;
}

div .left-container .left-text {
  margin-bottom: 55px;
}

div .left-container .left-text p{
  width: 401px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

div .artists {
  display: flex;
}

div .artists img {
  width: 169px;
  height: 87px;
}

div .text-artists {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 5px;
}

div .text-artists h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

div .text-artists p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

div .middle-container {
  display: flex;
  width: 580px;
  margin: 0 40px 0 40px;
}

div .middle-container .container p {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  color: #Fff;
}

div .middle-container .container span {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  color: #FF5B50;
}

div .right-container {
  width: 280px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div .right-container .container {
  display: flex;
}

div .right-container .container .explore-a-arte {
  width: 200px;
  height: 200px;
}

main .main-2 {
  width: 1277px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 65px;
}

main .main-2 .photos {
  display: flex;
  width: 1230px;
  justify-content: space-around;
  margin-bottom: 60px;
}

.main-2 .photos img {
  display: flex;
  width: 290px;
  border: 1px solid white;
}

main .main-3 {
  display: flex;
  margin-left: 100px;
  margin-top: 70px;
}

main .main-3 .left-container {
  display: flex;
  width: 199px;
  flex-direction: column;
  border-right: 2px solid white;  
}

main .main-3 .left-container .div-1 h3 {
  display: flex;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 61px;
  color: #FFFFFF;
}

main .main-3 .left-container .div-1 p {
  display: flex;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #5A5757;
  margin-bottom: 70px;
}

main .main-3 .right-container {
  display: flex;
  width: 1158px;
  flex-direction: column;
}

div .right-container .main-loren {
  display: flex;
}



