* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: #0e0e0e;
  color: #fff;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1440px;
}

header {
  position: absolute;
  display: flex;
  margin: 57px auto;
  z-index: 999;
}

main {
  margin-top: 205px;
}

header .container {
  display: flex;
}

div .header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

div .logo h2{
  display: flex;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  margin-left: 82px;
  margin-right: 203px;
}

div .logo span {
  color: #FF5B50;
}

div .menu-container .menu {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

div .menu-container {
  width: 341px;
}

div .menu-container ul{
  display: flex;
  justify-content: space-around;
  width: 300px;
}

div .menu-container .menu li{
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

color: #FFFFFF;
}

div .wallet {
  margin-left: 238px;
  position: relative;
}

div .wallet button {
  width: 230px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 2px;
  color: #000000;
  background-color: #FFFFFF;
  text-indent: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.metamask {
  position: absolute;
  right: 187px;
  top: 10px;
  background-color: transparent;
}

main .main-1 {
  width: 1277px;
  margin: 0 0 100px 82px;
  display: flex;
}

div .left-container .left-text {
  margin-bottom: 55px;
}

div .left-container .left-text p{
  width: 401px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

div .artists {
  display: flex;
}

div .artists img {
  width: 169px;
  height: 87px;
}

div .text-artists {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 5px;
}

div .text-artists h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

div .text-artists p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

div .middle-container {
  display: flex;
  width: 580px;
  margin: 0 40px 0 40px;
}

div .middle-container .container p {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  color: #Fff;
}

div .middle-container .container span {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  color: #FF5B50;
}

div .right-container {
  width: 280px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div .right-container .container {
  display: flex;
}

div .right-container .container .explore-a-arte {
  width: 200px;
  height: 200px;
}

main .main-2 {
  width: 1277px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 65px;
}

main .main-2 .photos {
  display: flex;
  width: 1230px;
  justify-content: space-around;
  margin-bottom: 60px;
}

.main-2 .photos img {
  display: flex;
  width: 290px;
  border: 1px solid white;
}

main .main-3 {
  display: flex;
  align-items: center;
  margin-left: 100px;
  margin-top: 70px;
}

main .main-3 .left-container {
  display: flex;
  width: 199px;
  flex-direction: column;
  border-right: 2px solid white;  
}

main .main-3 .left-container .div-1 h3 {
  display: flex;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 61px;
  color: #FFFFFF;
}

main .main-3 .left-container .div-1 p {
  display: flex;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #5A5757;
  margin-bottom: 70px;
}

main .main-3 .right-container {
  display: flex;
  width: 1158px;
  flex-direction: column;
}

div .right-container .main-loren {
  display: flex;
  margin-bottom: 71px;
}

div .main-loren {
  width: 952px;
  height: 214px;
  justify-content: space-between;
}

div .main-loren .loren {
  width: 435px;
  height: 114px;
  justify-content: space-between;
  margin-bottom: 63px;
}

div .main-loren .loren h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 63px;
  width: 332px;
}

div .main-loren .loren span {
  color: #FF5B50;
}

div .main-loren .loren p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

main .main-4 {
  display: flex;
  margin-top: 150px;
  margin-left: 87px;
}

main .main-4 .container {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 1265px;
}

.main-4 .main-container .week h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  margin-bottom: 158px;
}

.main-4 .main-container .week span {
  color: #FF5B50;
}

.main-4 .main-container .week-p {
  display: flex;
  position: relative;
  margin-bottom: 30px;
}

.main-4 .main-container .week-container {
  display: flex;
  flex-direction: column;
}

.main-4 .main-container .week-container .astronaut {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
  width: 350px;
  height: 337px;
  margin-bottom: 50px;
}

.main-4 .main-container .weekt-container .astronaut h2{
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 44px;
}

.main-4 .main-container .week-container .astronaut .week-p img {
  position: absolute;
  top: 0px;
  right: 0px;
}

.main-4 .main-container .week-container .astronaut .week-author {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
}

.main-4 .main-container .week-container .astronaut .week-author h3 {
  color: #5A5757;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.main-4 .main-container .week-container .astronaut .week-author p {
  display: flex;
  margin-right: 15px;
  color: #FF5B50;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

main .main-5 {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

main .main-5 .main-container {
  display: flex;
  width: 1287px;
  height: 682.34px;
  flex-direction: column;
  align-items: center;
}

main .main-5 .main-container .best-artists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

main .main-5 .main-container .best-artists-para{
  display: flex;
  margin-bottom: 150px;
  justify-content: center;
}

main .main-5 .main-container .best-artists-para p{
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
}

main .main-5 .main-container .best-artists-para span{
  color: #FF5B50;
}

main .main-5 .main-container .best-artists .best-artists-img {
  width: 350px;
  height: 150px; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #252525; 
  margin-bottom: 111px;
}

main .main-5 .main-container .best-artists .best-artists-img .artists {
  display: flex;
  background-color: transparent; 
}

main .main-5 .main-container .best-artists .best-artists-img .artists img{
  width: 100px;
  height: 100px; 
  background-color: transparent;
  margin-right: 40px;
}

main .main-5 .main-container .best-artists .best-artists-img .artists .info {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main .main-5 .main-container .best-artists .best-artists-img .artists .info p{
  background-color: transparent;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

main .main-5 .main-container .best-artists .best-artists-img .artists .info span{
  background-color: transparent;
  color: #FF5B50;
}

main .main-5 .main-container .see-all {
  display: flex;
  justify-content: center;
  width: 260.34px;
  margin-bottom: 150px;
}

main .main-5 .main-container .see-all p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-right: 13px;
}

footer {
  display: flex;
  margin-top: 180px;
  width: 1444px;
  height: 709px;
  background-color: #252525;
}

footer .main-footer {
  background-color: #252525;
  width: 1444px;
}

footer .footer-container {
  position: relative;
}

footer .main-footer .end{
  background-color: #252525;
  height: 222px;
  display: flex;
  padding-right: 80px;
  padding-left: 80px;
  justify-content: space-between;
  align-items: center;
}

footer .main-footer .end p{
  background-color: #252525;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
}

footer .main-footer .end span{
  background-color: #252525;
  color: #FF5B50;
}

footer .main-footer .end button{
  width: 80px;
  height: 80px;
  background-color: #FF5B50;
  border: 0px;
  background-image: url(/assets/arrow-black.svg);
  background-repeat: no-repeat;
  background-position: center;
}

footer .main-footer .footer-container .newsletter-container {
  background-color: #252525;
  display: flex;
  flex-direction: column;
  padding-left: 80px;
}

footer .main-footer .footer-container .newsletter-container p{
  background-color: #252525;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  width: 330px;
  padding-bottom: 25px;
}

footer .main-footer .footer-container .newsletter-container span{
  background-color: #252525;
  color: #FF5B50;
}

footer .main-footer .footer-container .newsletter-container span{
  background-color: #252525;
  color: #FF5B50;
}

footer .main-footer .footer-container .newsletter-container form{
  display: flex;
  background-color: #252525
}

footer .main-footer .footer-container .newsletter-container input{
  display: flex;
  background-color: #000;
  width: 300px;
  height: 66px;
}

footer .main-footer .footer-container .newsletter-container input::placeholder{
  text-align: left;
  text-indent: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #5A5757;
}

footer .main-footer .footer-container .newsletter-container button{
  width: 122px;
  height: 66px;
  left: 363px;
  top: 4122px;
  background: #FFFFFF;
  color: #000;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border: none;
}

footer .main-footer .footer-container .links-container {
  display: flex;
  position: absolute;
  right: 490px;
}
